*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: monospace;
}

nav{
    background-color:black;
    height: 80px;
}



nav .title {
    margin-top: 30px;
    margin-left: 10px;
    /*background-color:red ;*/
    display: inline-block;
    color: aliceblue;
}

.box{
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    border: 10px;
    border-color: brown;
    
}

.box .box-header{
    background-color: aqua;
    padding-top: 10px;
    padding-left: 10px;
}

.box 

.box .box-body{
    padding: 10px;
}

